* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

header {
    background: lightseagreen;
    padding: 1vh 1vw;
}

.calc-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background: lightblue;
}

main {
    height: 100vh;
    margin: 0 auto;
    padding: 2%;
    width: 70%;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
    width: 30%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: calc(2px + 2vw);
}

nav li {
    display: block;
    text-decoration: none;
    font-size: calc(2px + 2vw);
    padding: 2vh 0;
    margin: 4vh auto;
}

nav a {
    text-decoration: none;
    color: white;
    width: 100%;
}

main h1 {
    text-align: center;
    padding-bottom: 2%;
}

.calc {
    background: lightcyan;
    text-align: center;
    padding: 2%;
    max-height: 100%;
}

label {
    font-size: calc(3px + 3vh);
}

#first, #second {
    margin-bottom: 2%;
}

.calc button {
    margin: 2%;
}

.calc input {
    width: 100%;
    font-size: calc(2px + 2vh);
    border-color: aqua;
}

.calc-buttons button {
    padding: 2%;
    font-size: calc(2px + 2vh);
    border-color: aqua;
}

.output-container {
    background: white;
    border: 2px solid aqua;
}

#output {
    padding: 2%;
    font-weight: bold;
}

footer {
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: lightseagreen;
}

footer a{
    text-decoration: none;
    color: lightskyblue;
}

@media screen and (max-width: 900px) {

    header {
        text-align: center;
    }

    .calc-container {
        width:100%;
        height: 100vh;
        flex-direction: column;
    }

    nav {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    ul {
        flex-direction: row;
        justify-content: space-between;
    }

    nav li {
        font-size: calc(2px + 1.5vw);
        padding: 1% .5%;
        margin: 1% .5%;
    }

    main h1 {
        text-align: center;

    }
}